/*SM - small*/
@media screen and (min-width:568px){
    .sidebar{
        width: 250px;
    }


    .sidebar .middle-section .playlist-container{
        display: block;
    }


   /* .sidebar .sidebar-list a{ 
        justify-content: flex-start;
    
    }*/

    .main-logo{
        justify-content: flex-start;
    }


    /*
    .sidebar .sidebar-list .list-item-icon{
        margin-right: 1rem;
    }



    .sidebar .sidebar-list .list-item-text{
        display: block;
    }   */


    .sidebar .sidebar-list .logo-large{
        display: block;
        width: 8rem;
        padding-bottom: 1rem;
    }

    .sidebar .sidebar-list .logo-small{
        display: none;
    }


    .line{
        display: block;
        border: 1px solid lightgray;
        margin: .5rem 0;
    }

    .text-icon{
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: .5rem;
    }

    .text-icon-gray{
        display: inline-block;
        color: gray;
        text-decoration: none;
        padding: .5rem;
    }

    


    


   


/*MD - medium*/
@media screen and (min-width:768px){

}




/*LG - large*/
@media screen and (min-width:992px){

}

