*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 255, 106);
}

body > *,
.top-container>*,
.sidebar>*,
.sidebar .sidebar-list a{
    border: 1px dashed blue;
}

.top-container{
    flex-grow: 1; /*non mi serve sapere l'altezza dela navbar*/
    overflow: auto;

    /*Soluzione con calc ma devo conoscere laltezza della navbar*/
    /*height: calc(100vh - 100px)*/

    display: flex;

}
/********************SEZ BOTTOM NAVBAR*******************/
.bottom-navbar{
    flex-shrink: 0;
   /* height: 100px;*/ /*un'altra opzione allo shrink, ma tu usa lo shrink*/
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: .3rem;
}

.bottom-navbar .comand1{
    display: flex;
    border: .5px solid blue;

}

.comand2{
    display: flex;
    flex-direction: column;
    border: .5px solid blue;
}


#songimg-size{
    width: 30px;
    padding:.5rem;
}

.text-comand-song{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: small;
}


.icon-comand-song{
    display: flex;
    flex-direction: column;
    color: white;
    padding: .5rem 0;
    padding-left: .5rem;
}

.icon-comand-song .fa-solid{
    font-size: small;
}


/***********************SIDEBAR***********************/
.sidebar{
    width: 60px; /*dimensione di partenza della sidebar */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.5rem;

}

.sidebar .top-section{
    flex-shrink: 0;

}

.sidebar .middle-section{
    flex-grow: 1;
    overflow: auto;
    
}

.sidebar .middle-section .playlist-container{
    display: none;
}

.sidebar .bottom-section{
    flex-shrink: 0;
}

.sidebar .sidebar-list{
    list-style: none;
}

.sidebar .sidebar-list .logo-large{
    display: none; /*di partenza l'icona grande non si vede, la vedrò in568 in poi*/
}

.sidebar .sidebar-list .logo-small{
    padding-bottom: 1rem;
}

.line{
    display: none;
    
}
.main-logo{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/*.sidebar .sidebar-list a{ /*darò i padding quindi
    display: flex;
    padding: 1rem;
    justify-content: center;
}*/

.size-icon{
    width: 30px;     
}


.sidebar .sidebar-list .list-item-text{
    display: none;
}



.size-icon-small{
    width: 20px;
}

.text-icon,
.text-icon-gray{
    display: none;
}
/***************** SEZIONE MAIN CONTAINER*****************/
.main-container{
    overflow: auto;
    background-color: rgb(20, 25, 34);
    flex-grow: 1;

    /*Soluzione con calc ma devo conoscere laltezza della navbar*/

}


.main-container .update{
    display: flex;
    justify-content: end;
    background-color: rgb(8, 11, 18);
    padding: 1rem;
}

.update button{
    background-color: transparent;
    border-color:  white;
    border-radius: 25%;
    color: white;
    padding: 0.5rem;
    font-size: x-small;
}

.consigli{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
    color: white;
    font-size: small;
}
 
.text-consigli{
    text-decoration: none;
    padding: .6rem;
    color: gray;

}


.main-container .song-plyed-container{
    border: 1px solid red;


}

.row{
    display: flex;
    flex-wrap: wrap;
}

/*.row .img-size{
    width: 100%;
    display: block;
}*/


.col-1_2{
    width: 50%;
}

.font-h2{
    color: white;
}



.middle-section .fa-solid{
    color: white;
    font-weight: 900;
    padding-top: 1rem;
    font-size: 3rem;
}


.card{
    border: 1px solid red;
    margin: 0 10px;
}

.cardContainer{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.img-size{
    width: 100%;
}